[submodule "sites/all/modules/islandora"]
	path = sites/all/modules/islandora
	url = git://github.com/djevans/islandora.git
[submodule "sites/all/modules/islandora_content_model_forms"]
	path = sites/all/modules/islandora_content_model_forms
	url = git://github.com/Islandora/islandora_content_model_forms.git
[submodule "sites/all/modules/islandora_solution_pack_image"]
	path = sites/all/modules/islandora_solution_pack_image
	url = git://github.com/Islandora/islandora_solution_pack_image.git
[submodule "sites/all/modules/islandora_solution_pack_large_image"]
	path = sites/all/modules/islandora_solution_pack_large_image
	url = git://github.com/Islandora/islandora_solution_pack_large_image.git
[submodule "sites/all/modules/islandora_xml_forms"]
	path = sites/all/modules/islandora_xml_forms
	url = git://github.com/Islandora/islandora_xml_forms.git
[submodule "sites/all/modules/islandora_solution_pack_audio"]
	path = sites/all/modules/islandora_solution_pack_audio
	url = git://github.com/Islandora/islandora_solution_pack_audio.git
[submodule "sites/all/modules/islandora_solution_pack_book"]
	path = sites/all/modules/islandora_solution_pack_book
	url = git://github.com/Islandora/islandora_solution_pack_book.git
[submodule "sites/all/modules/islandora_solution_pack_pdf"]
	path = sites/all/modules/islandora_solution_pack_pdf
	url = git://github.com/Islandora/islandora_solution_pack_pdf.git
[submodule "sites/all/modules/islandora_solution_pack_newspaper"]
	path = sites/all/modules/islandora_solution_pack_newspaper
	url = git://github.com/Islandora/islandora_solution_pack_newspaper.git
[submodule "sites/all/modules/objective_forms"]
	path = sites/all/modules/objective_forms
	url = git://github.com/Islandora/objective_forms.git
[submodule "sites/all/modules/php_lib"]
	path = sites/all/modules/php_lib
	url = git://github.com/Islandora/php_lib.git
[submodule "sites/all/modules/scholar"]
	path = sites/all/modules/scholar
	url = git://github.com/nigelgbanks/scholar.git
[submodule "sites/all/modules/content_model_viewer"]
	path = sites/all/modules/content_model_viewer
	url = git://github.com/nigelgbanks/content_model_viewer.git
[submodule "sites/all/modules/islandora_solr_search"]
	path = sites/all/modules/islandora_solr_search
	url = git://github.com/Islandora/islandora_solr_search.git
[submodule "sites/all/modules/islandora_solution_pack_journal"]
	path = sites/all/modules/islandora_solution_pack_journal
	url = git@github.com:djevans/islandora_solution_pack_journal.git
[submodule "sites/all/modules/iso_639_3"]
	path = sites/all/modules/iso_639_3
	url = git@github.com:djevans/iso_639_3.git
[submodule "sites/all/modules/language_proficiency"]
	path = sites/all/modules/language_proficiency
	url = git@github.com:djevans/language_proficiency.git
[submodule "sites/all/modules/islandora_harvester"]
	path = sites/all/modules/islandora_harvester
	url = git@github.com:djevans/islandora_harvester.git
[submodule "sites/all/modules/islandora_feeds"]
	path = sites/all/modules/islandora_feeds
	url = git@github.com:djevans/islandora_feeds.git
[submodule "sites/all/modules/islandora_fedora_api"]
	path = sites/all/modules/islandora_fedora_api
	url = git://github.com/Islandora/islandora_fedora_api.git
[submodule "sites/all/modules/islandora_solution_pack_article"]
	path = sites/all/modules/islandora_solution_pack_article
	url = git@github.com:djevans/islandora_solution_pack_article.git
